<h1>Articles</h1>

Our blog has <%= Article.count %> articles, like:
<br>
<%= Article.public_count %> public
<br>
<%= Article.private_count %> private
<br>
<%= Article.archived_count %> archived
<br>
<ul>
  <% @articles.each do |article| %>

    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
